<%- include('head'); -%>
<%- include('sidebar') -%>
<style>
  .borderless td, .borderless th {
    border: none;
  }
  .form-group .input-wrapper {
    position: relative;
}

.form-group .icon {
    position: absolute;
    /* Adjust these values as needed to position your icon */
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-right: solid 1px #6e7076;
    padding-right: 10px;
}

.form-group input {
    padding-left: 30px; /* Adjust as needed based on icon size */
}
.custom-checkbox {
    position: relative;
    width: 198px;
    height: 44px;
    border-radius: 43.89px;
    border: 1px solid #0D0F13;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10.97px;
    cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

.custom-checkbox label {
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.dropzone {
    min-height: 20px!important;
    max-height: 20px!important;
    min-width: 20px!important;
    max-width: 20px!important;
    border-radius: 100%;
    border: 2px solid rgba(0,0,0,.3);
    background: #fff;
    padding: 20px 20px;
}
.dropzone .dz-preview .dz-image {
    border-radius: 20px;
    overflow: hidden;
    width: 40px;
    height: 40px;
    position: relative;
    display: block;
    z-index: 10;
}
.dz-progress, .dz-details{
  display: none;
}
.dropzone .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    min-height: 40px;
}
.dz-image img{width: 40px;}
</style>
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid pr-3">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Category</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="container-fluid pr-3">
        <div class="row">
          <div class="col-12">
              <div class="d-flex justify-content-between align-items-center">
                <div><h3 class="card-title">All Category</h3></div>
                <div><button class="btn bg-black" data-toggle="modal" data-target="#exampleModalCenter">Add category</button></div>
              </div>
              <div class="table-responsive">
                <table id="example2" class="table table-hover borderless">
                  <thead>
                  <tr>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Created on</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                    <% category.forEach(function(mainCate, mainIndex) { %>
                      <tr>
                        <td><%- mainCate.category_name %></td>
                        <td><%- mainCate.category_description %></td>
                        <td>
                          <% 
                          let mainCateDate = new Date(mainCate.created_at);
                          let formattedMainCateDate = mainCateDate.toLocaleDateString('en-US');
                          %><%- formattedMainCateDate %>
                        </td>
                        <td>
                          <a href="#" onclick="edit(<%- mainCate.id %>)"><img src="/icon/Edit.svg" style="width:20px;height:20px;" class="m-1"></a>
                          <a href="delete-category/<%- mainCate.id %>"><img src="/icon/Delete.svg" style="width:20px;height:20px;" class="m-1"></a>
                          <span id="arrow<%= mainIndex %>" onclick="toggleSubCategories('subCate<%= mainIndex %>', '<%= mainIndex %>')" style="cursor:pointer;"><img src="/icon/Downarrow.svg"></span>
                        </td>
                      </tr>
                      <% mainCate.sub_category.forEach(function(subCate, subIndex) { %>
                        <tr id="subCate<%= mainIndex %>-<%= subIndex %>" class="subCate<%= mainIndex %>" style="display: none;">
                          <td style="padding-left: 20px;">-- <%- subCate.category_name %></td>
                          <td><%- subCate.category_description %></td>
                          <td>
                            <% 
                            let subCateDate = new Date(subCate.created_at);
                            let formattedSubCateDate = subCateDate.toLocaleDateString('en-US');
                            %><%- formattedSubCateDate %>
                          </td>
                          <td>
                            <a href="#" onclick="edit(<%- subCate.id %>)"><img src="/icon/Edit.svg" style="width:20px;height:20px;" class="m-1"></a>
                            <a href="delete-category/<%- subCate.id %>"><img src="/icon/Delete.svg" style="width:20px;height:20px;" class="m-1"></a>
                          </td>
                        </tr>
                      <% }) %>
                    <% }) %>                    
                </table>
              </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<%- include('foot') -%>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add/Edit category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/admin/add-category" method="post">
          <div class="row align-items-start">
            <div class="col-1">
              <div class="form-group">
                <label>Images</label>
                <div class="dropzone d-flex align-items-center justify-content-center category"></div>
              </div>
            </div>
            <div class="col-4 col-md-4">
              <div class="form-group">
                <label>Category name</label>
                <input type="text" name="category_name" id="category_name" class="form-control">
                <input type="hidden" name="category_img" id="category_img" value="">
                <input type="hidden" name="category_type" value="1">
              </div>
            </div>
            <div class="col-7 col-md-7">
              <div class="form-group">
                <label>Category description</label>
                <input type="text" name="category_description" id="category_description" class="form-control" id="category_description">
              </div>
            </div>
            <div class="col-12 mt-2">
              <div class="form-group">
                <h4 class="mt-2 mb-2">Sub categories</h4>
                <div id="things-to-do-container">
                  <div class="d-flex align-items-center things-to-do-item">
                      <div style="width: 90%;">
                        <div class="row align-items-start">
                          <div class="col-1">
                            <div class="form-group">
                              <label>Images</label>
                              <div class="dropzone d-flex align-items-center justify-content-center categories"></div>
                              <input type="hidden" name="sub_category[0]['img']" value="" id="sub_category_img">
                            </div>  
                          </div>
                          <div class="col-4 col-md-4">
                            <div class="form-group">
                              <label>Sub Category name</label>
                              <input type="text" name="sub_category[0]['name']" class="form-control">
                            </div>
                          </div>
                          <div class="col-7 col-md-7">
                            <div class="form-group">
                              <label>Sub Category description</label>
                              <input type="text" name="sub_category[0]['description']" class="form-control">
                            </div>
                          </div>
                        </div>
                      </div>
                  <img src="/icon/Delete.svg" style="width:20px;height:20px;" class="delete-icon m-1" onclick="deleteRow(this)">
                  <img src="/icon/Plus.svg" style="width:20px;height:20px;" class="add-icon m-1" onclick="addRow(this)">
                  </div>
                </div>            
              </div>
            </div>
            <div class="col-12 d-flex justify-content-center mt-2">
              <button type="submit" class="btn btn-primary" style="width: 250px;font-size: 20px;">Save & close</button>
            </div>
          </div>
        </form>
        </div>
    </div>
  </div>
</div>
<div class="modal fade" id="edit_category" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add/Edit category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/admin/edit-category" method="post">
          <div class="row align-items-start">
            <div class="col-1">
              <div class="form-group">
                <label>Images</label>
                <div class="dropzone d-flex align-items-center justify-content-center edit-category-dropzone"></div>
              </div>
            </div>
            <div class="col-4 col-md-4">
              <div class="form-group">
                <label>Category name</label>
                <input type="text" name="category_name" id="edit_category_name" class="form-control">
                <input type="hidden" name="category_img" id="edit_category_img" value="">
                <input type="hidden" name="edit_category_type" value="1">
                <input type="hidden" name="edit_id" value="" id="edit_id">
              </div>
            </div>
            <div class="col-7 col-md-7">
              <div class="form-group">
                <label>Category description</label>
                <input type="text" name="category_description" id="edit_category_description" class="form-control">
              </div>
            </div>
            <div class="col-12 d-flex justify-content-center mt-2">
              <button type="submit" class="btn btn-primary" style="width: 250px;font-size: 20px;">Save & close</button>
            </div>
          </div>
        </form>
        </div>
    </div>
  </div>
</div>
<script>
  Dropzone.autoDiscover = false;
function setupDropzone(dropzoneId, url, paramName, hiddenInputName) {
  return new Dropzone(dropzoneId, {
    url: url,
    paramName: paramName,
    maxFiles: 1, // Allow only one file
    addRemoveLinks: true, // Show remove links on each file
    acceptedFiles: ".pdf,.jpg,.jpeg,.png",
    dictDefaultMessage: "C",
    init: function () {
      this.on("success", function (file, response) {
        let input = document.querySelector('#'+hiddenInputName);
        let fileNames = input.value ? JSON.parse(input.value) : [];
        fileNames = response.document_url;
        input.value = fileNames;
      });
    }
  });
}

  function toggleSubCategories(subCateClass, mainIndex) {
    var arrow = document.getElementById('arrow' + mainIndex);
    var subCategories = document.getElementsByClassName(subCateClass);
    for (var i = 0; i < subCategories.length; i++) {
      if (subCategories[i].style.display === 'none') {
        subCategories[i].style.display = '';
        arrow.innerHTML = '<img src="/icon/Uparrow.svg">';
      } else {
        subCategories[i].style.display = 'none';
        arrow.innerHTML = '<img src="/icon/Downarrow.svg">';
      }
    }
  }

  let sci = 2;
  function addRow(element) {
    var container = document.getElementById("things-to-do-container");
    var newItem = document.createElement("div"); // Create a new div element
    newItem.innerHTML = `<div class="d-flex align-items-center things-to-do-item">
                            <div style="width: 90%;">
                              <div class="row align-items-start">
                                <div class="col-1">
                                  <div class="form-group">
                                    <label>Images</label>
                                    <div class="dropzone d-flex align-items-center justify-content-center categories${sci}"></div>
                                    <input type="hidden" name="sub_category[${sci}]['img']" value="[]" id="sub_category_img${sci}">
                                  </div>  
                                </div>
                                <div class="col-4 col-md-4">
                                  <div class="form-group">
                                    <label>Sub Category name</label>
                                    <input type="text" name="sub_category[${sci}]['name']" class="form-control">
                                  </div>
                                </div>
                                <div class="col-7 col-md-7">
                                  <div class="form-group">
                                    <label>Sub Category description</label>
                                    <input type="text" name="sub_category[${sci}]['description']" class="form-control">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <img src="/icon/Delete.svg" style="width:20px;height:20px;" class="delete-icon m-1" onclick="deleteRow(this)">
                            <img src="/icon/Plus.svg" style="width:20px;height:20px;" class="add-icon m-1" onclick="addRow(this)">
                          </div>`;
    container.appendChild(newItem.firstChild);
    setupDropzone(".categories" + sci, "/admin/files-upload", "document_file", "sub_category_img"+sci);
    sci++;
}


function deleteRow(element) {
    var item = element.parentNode;
    // Remove the row from the DOM
    if (item.parentNode.childElementCount > 1) {
      item.parentNode.removeChild(item);
    }
  }

  setupDropzone(".category", "/admin/files-upload", "document_file", "category_img");
  setupDropzone(".categories", "/admin/files-upload", "document_file", "sub_category_img");
  setupDropzone(".edit-category-dropzone", "/admin/files-upload", "document_file", "edit_category_img");
  document.addEventListener('DOMContentLoaded', function () {
    window.stepper = new Stepper(document.querySelector('.bs-stepper'));
  });


  async function edit(edit_id) {
  try {
    // Fetch category details
    const response = await fetch(`/admin/category/${edit_id}`);
    const categoryData = await response.json();

    // Populate the modal fields
    document.getElementById('edit_category_name').value = categoryData.category_name;
    document.getElementById('edit_category_description').value = categoryData.category_description;
    document.getElementById('edit_id').value = categoryData.id;

    // Assuming categoryData.category_img is a URL to the image
    document.getElementById('edit_category_img').value = categoryData.category_img;

    // Initialize Dropzone for editing or clear existing files
    let editDropzone = Dropzone.forElement(".edit-category-dropzone");
    if (editDropzone) {
      editDropzone.removeAllFiles(true); // Removes all files in the dropzone
    } else {
      // Initialize your Dropzone here if it's not already initialized
      // setupDropzone(".edit-category-dropzone", ...);
    }

    // Add the existing image to the Dropzone
    if (categoryData.category_img) {
      let mockFile = { name: getNameFromUrl(categoryData.category_img), size: 12345, accepted: true };
      editDropzone.emit("addedfile", mockFile);
      editDropzone.emit("thumbnail", mockFile, categoryData.category_img);
      editDropzone.files.push(mockFile); // Add the file to the Dropzone's files array
    }

    // Show the modal
    $('#edit_category').modal('show');
  } catch (error) {
    console.error('Error fetching category data:', error);
    // Handle the error appropriately
  }
}

// Helper function to extract filename from URL
function getNameFromUrl(url) {
  return url.substring(url.lastIndexOf('/') + 1);
}

</script>