<%- include('head'); -%>
<%- include('sidebar') -%>
<style>
  .borderless td, .borderless th {
    border: none;
  }
  .form-group .input-wrapper {
    position: relative;
}

.form-group .icon {
    position: absolute;
    /* Adjust these values as needed to position your icon */
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-right: solid 1px #6e7076;
    padding-right: 10px;
}

.form-group input {
    padding-left: 30px; /* Adjust as needed based on icon size */
}
.custom-checkbox {
    position: relative;
    width: 198px;
    height: 44px;
    border-radius: 43.89px;
    border: 1px solid #0D0F13;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10.97px;
    cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

.custom-checkbox label {
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.selectchech{
    background-color: #0D0F13;
    color: #fff;
}
.dropzone {
    min-height: 20px!important;
    max-height: 20px!important;
    min-width: 20px!important;
    max-width: 20px!important;
    border-radius: 100%;
    border: 2px solid rgba(0,0,0,.3);
    background: #fff;
    padding: 20px 20px;
}
</style>
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid pr-3">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Category</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="container-fluid pr-3">
        <div class="row">
          <div class="col-12">
              <div class="d-flex justify-content-between align-items-center">
                <div><h3 class="card-title">All Category</h3></div>
                <div><button class="btn bg-black" data-toggle="modal" data-target="#exampleModalCenter">Add category</button></div>
              </div>
              <div class="table-responsive">
                <table id="example2" class="table table-hover borderless">
                  <thead>
                  <tr>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Created on</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                    <% category.forEach(function(mainCate, mainIndex) { %>
                      <tr>
                        <td><%- mainCate.category_name %></td>
                        <td><%- mainCate.category_description %></td>
                        <td>
                          <% 
                          let mainCateDate = new Date(mainCate.created_at);
                          let formattedMainCateDate = mainCateDate.toLocaleDateString('en-US');
                          %><%- formattedMainCateDate %>
                        </td>
                        <td>
                          <a href="#"><img src="/icon/Edit.svg" style="width:20px;height:20px;" class="m-1"></a>
                          <a href="#"><img src="/icon/Delete.svg" style="width:20px;height:20px;" class="m-1"></a>
                          <span id="arrow<%= mainIndex %>" onclick="toggleSubCategories('subCate<%= mainIndex %>', '<%= mainIndex %>')" style="cursor:pointer;"><img src="/icon/Downarrow.svg"></span>
                        </td>
                      </tr>
                      <% mainCate.sub_category.forEach(function(subCate, subIndex) { %>
                        <tr id="subCate<%= mainIndex %>-<%= subIndex %>" class="subCate<%= mainIndex %>" style="display: none;">
                          <td style="padding-left: 20px;">-- <%- subCate.category_name %></td>
                          <td><%- subCate.category_description %></td>
                          <td>
                            <% 
                            let subCateDate = new Date(subCate.created_at);
                            let formattedSubCateDate = subCateDate.toLocaleDateString('en-US');
                            %><%- formattedSubCateDate %>
                          </td>
                          <td>
                            <a href="#"><img src="/icon/Edit.svg" style="width:20px;height:20px;" class="m-1"></a>
                            <a href="#"><img src="/icon/Delete.svg" style="width:20px;height:20px;" class="m-1"></a>
                          </td>
                        </tr>
                      <% }) %>
                    <% }) %>                    
                </table>
              </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<%- include('foot') -%>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add/Edit category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/admin/add-category" method="post">
          <div class="row align-items-start">
            <div class="col-1">
              <div class="form-group">
                <label>Images</label>
                <div class="dropzone d-flex align-items-center justify-content-center" id="profile_imgDropzone"></div>
              </div>  
            </div>
            <div class="col-4 col-md-4">
              <div class="form-group">
                <label>Category name</label>
                <input type="text" name="category_name" id="category_name" class="form-control">
                <input type="hidden" name="category_img" id="category_img" value="">
                <input type="hidden" name="sub_category_img" id="sub_category_img" value="[]">
                <input type="hidden" name="edit_id" id="edit_id" value="0">
              </div>
            </div>
            <div class="col-7 col-md-7">
              <div class="form-group">
                <label>Category description</label>
                <input type="text" name="category_description" id="category_description" class="form-control" id="category_description">
              </div>
            </div>
            <div class="col-12 mt-2">
              <div class="form-group">
                <h4 class="mt-2 mb-2">Sub categories</h4>
                <div id="things-to-do-container">
                  <div class="d-flex align-items-center things-to-do-item">
                      <div style="width: 90%;">
                        <div class="row align-items-start">
                          <div class="col-1">
                            <div class="form-group">
                              <label>Images</label>
                              <div class="dropzone d-flex align-items-center justify-content-center" id="profile_imgDropzone"></div>
                            </div>  
                          </div>
                          <div class="col-4 col-md-4">
                            <div class="form-group">
                              <label>Category name</label>
                              <input type="text" name="category_name" id="category_name" class="form-control">
                            </div>
                          </div>
                          <div class="col-7 col-md-7">
                            <div class="form-group">
                              <label>Category description</label>
                              <input type="text" name="category_description" id="category_description" class="form-control" id="category_description">
                            </div>
                          </div>
                        </div>
                      </div>
                  <img src="/icon/Delete.svg" style="width:20px;height:20px;" class="delete-icon m-1" onclick="deleteRow(this)">
                  <img src="/icon/Plus.svg" style="width:20px;height:20px;" class="add-icon m-1" onclick="addRow(this)">
                  </div>
                </div>            
              </div>
            </div>
            <div class="col-12 d-flex justify-content-center mt-2">
              <button type="submit" class="btn btn-primary" style="width: 250px;font-size: 20px;">Save & close</button>
            </div>
          </div>
        </form>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script>
  function selectchech(checkbox,id){
      var customCheckboxDiv = document.querySelector('.bg-'+id);
      if(checkbox.checked) {
          customCheckboxDiv.classList.add('selectchech');
      } else {
          customCheckboxDiv.classList.remove('selectchech');
      }
  }
  function toggleSubCategories(subCateClass, mainIndex) {
    var arrow = document.getElementById('arrow' + mainIndex);
    var subCategories = document.getElementsByClassName(subCateClass);
    for (var i = 0; i < subCategories.length; i++) {
      if (subCategories[i].style.display === 'none') {
        subCategories[i].style.display = '';
        arrow.innerHTML = '<img src="/icon/Uparrow.svg">';
      } else {
        subCategories[i].style.display = 'none';
        arrow.innerHTML = '<img src="/icon/Downarrow.svg">';
      }
    }
  }
  function addRow(element) {
    var container = document.getElementById("things-to-do-container");
    var newItem = element.parentNode.cloneNode(true); // Clone the current item
    container.appendChild(newItem);
}

function deleteRow(element) {
    var item = element.parentNode;
    if (item.parentNode.childElementCount > 1) { // Ensure at least one row remains
        item.parentNode.removeChild(item);
    }
}

</script>