<%- include('head'); -%>
<%- include('sidebar') -%>
<style>
  .borderless td, .borderless th {
    border: none;
  }
  .form-group .input-wrapper {
    position: relative;
}

.form-group .icon {
    position: absolute;
    /* Adjust these values as needed to position your icon */
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-right: solid 1px #6e7076;
    padding-right: 10px;
}

.form-group input {
    padding-left: 30px; /* Adjust as needed based on icon size */
}
.custom-checkbox {
    position: relative;
    width: 198px;
    height: 44px;
    border-radius: 43.89px;
    border: 1px solid #0D0F13;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10.97px;
    cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

.custom-checkbox label {
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.selectchech{
    background-color: #0D0F13;
    color: #fff;
}

</style>
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid pr-3">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>User roles</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="container-fluid pr-3">
        <div class="row">
          <div class="col-12">
              <div class="d-flex justify-content-between align-items-center">
                <div><h3 class="card-title">All user roles</h3></div>
                <div><button class="btn bg-black" data-toggle="modal" data-target="#exampleModalCenter">Add role</button></div>
              </div>
              <div class="table-responsive">
                <table id="example2" class="table table-hover borderless">
                  <thead>
                  <tr>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Created on</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                    <% category.forEach(function(mainCate, mainIndex) { %>
                      <tr>
                        <td><%- mainCate.category_name %></td>
                        <td><%- mainCate.category_description %></td>
                        <td>
                          <% 
                          let mainCateDate = new Date(mainCate.created_at);
                          let formattedMainCateDate = mainCateDate.toLocaleDateString('en-US');
                          %><%- formattedMainCateDate %>
                        </td>
                        <td>
                          <a href="#"><img src="/icon/Edit.svg" style="width:20px;height:20px;" class="m-1"></a>
                          <a href="#"><img src="/icon/Delete.svg" style="width:20px;height:20px;" class="m-1"></a>
                          <span id="arrow<%= mainIndex %>" onclick="toggleSubCategories('subCate<%= mainIndex %>', '<%= mainIndex %>')" style="cursor:pointer;"><img src="/icon/Downarrow.svg"></span>
                        </td>
                      </tr>
                      <% mainCate.sub_category.forEach(function(subCate, subIndex) { %>
                        <tr id="subCate<%= mainIndex %>-<%= subIndex %>" class="subCate<%= mainIndex %>" style="display: none;">
                          <td style="padding-left: 20px;">-- <%- subCate.category_name %></td>
                          <td><%- subCate.category_description %></td>
                          <td>
                            <% 
                            let subCateDate = new Date(subCate.created_at);
                            let formattedSubCateDate = subCateDate.toLocaleDateString('en-US');
                            %><%- formattedSubCateDate %>
                          </td>
                          <td>
                            <a href="#"><img src="/icon/Edit.svg" style="width:20px;height:20px;" class="m-1"></a>
                            <a href="#"><img src="/icon/Delete.svg" style="width:20px;height:20px;" class="m-1"></a>
                          </td>
                        </tr>
                      <% }) %>
                    <% }) %>                    
                </table>
              </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<%- include('foot') -%>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add/Edit a new role</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group icon-input">
          <label for="roleName">Role name</label>
          <div class="input-wrapper">
              <input type="text" class="form-control" id="roleName" style="
              border-radius: 20px;padding-top: 23px;padding-bottom: 23px;">
              <span class="icon"><svg width="16" height="19" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.87972 12.2593C4.36856 12.2593 1.37012 12.7901 1.37012 14.9162C1.37012 17.0423 4.34954 17.5922 7.87972 17.5922C11.3909 17.5922 14.3885 17.0604 14.3885 14.9352C14.3885 12.81 11.4099 12.2593 7.87972 12.2593Z" stroke="#6E7076" stroke-width="1.6341" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.87963 9.22662C10.1838 9.22662 12.0513 7.35821 12.0513 5.05404C12.0513 2.74987 10.1838 0.882324 7.87963 0.882324C5.57546 0.882324 3.70706 2.74987 3.70706 5.05404C3.69927 7.35043 5.55471 9.21883 7.85024 9.22662H7.87963Z" stroke="#6E7076" stroke-width="1.6341" stroke-linecap="round" stroke-linejoin="round"/>
                </svg></span>
          </div>
          Permissions
          <div class="row">
              
          </div>       
      </div>      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script>
  function selectchech(checkbox,id){
      var customCheckboxDiv = document.querySelector('.bg-'+id);
      if(checkbox.checked) {
          customCheckboxDiv.classList.add('selectchech');
      } else {
          customCheckboxDiv.classList.remove('selectchech');
      }
  }
</script>
<script>
  function toggleSubCategories(subCateClass, mainIndex) {
    var arrow = document.getElementById('arrow' + mainIndex);
    var subCategories = document.getElementsByClassName(subCateClass);
    for (var i = 0; i < subCategories.length; i++) {
      if (subCategories[i].style.display === 'none') {
        subCategories[i].style.display = '';
        arrow.innerHTML = '<img src="/icon/Uparrow.svg">';
      } else {
        subCategories[i].style.display = 'none';
        arrow.innerHTML = '<img src="/icon/Downarrow.svg">';
      }
    }
  }
</script>